.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 1.5rem;
  height: 50vh;
}

.inputContainer h1{
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
}

.inputContainer h1 span{
  color: var(--primary-color);
}

.inputContainer div{
  display: flex;
  margin-bottom: 2rem;
}

.inputContainer input{
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.inputContainer input::placeholder{
  font-size: 0.9rem;
}

.inputContainer button{
  padding: 0 1rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

/*Result*/
.result{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.result span{
  color: white;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.result button{
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
}

.result button.copied{
  background-color: white;
  color: var(--primary-colorHello World);
}

.noData{
  color: white;
  font-size: 1rem;
}

.spinner{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, var(--primary-color)) content-box;
  -webkit-mask: 
  repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
  radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 calc(100% - 8px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: spinner 1s infinite steps(10);
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

/* Backgound */

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
  left: 58%;
  width: 125px;
  height: 125px;
  bottom: -125px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 13%;
  width: 178px;
  height: 178px;
  bottom: -178px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 8%;
  width: 120px;
  height: 120px;
  bottom: -120px;
  animation-delay: 10s;
}
.background li:nth-child(3) {
  left: 39%;
  width: 189px;
  height: 189px;
  bottom: -189px;
  animation-delay: 10s;
}
.background li:nth-child(4) {
  left: 32%;
  width: 149px;
  height: 149px;
  bottom: -149px;
  animation-delay: 12s;
}
.background li:nth-child(5) {
  left: 11%;
  width: 160px;
  height: 160px;
  bottom: -160px;
  animation-delay: 8s;
}
.background li:nth-child(6) {
  left: 62%;
  width: 153px;
  height: 153px;
  bottom: -153px;
  animation-delay: 10s;
}
.background li:nth-child(7) {
  left: 85%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 15s;
}
.background li:nth-child(8) {
  left: 50%;
  width: 176px;
  height: 176px;
  bottom: -176px;
  animation-delay: 6s;
}
.background li:nth-child(9) {
  left: 1%;
  width: 172px;
  height: 172px;
  bottom: -172px;
  animation-delay: 8s;
}